.food-item {
	display: flex;
	background-color: wheat;
	width: 500px;
	height: 170px;
	margin-left: 5%;
	margin-bottom: 10px;
}

.food-img {
	width: 180px;
    height: 100%;
    background-color: gray;
}

.desc-place {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;	
	padding-left: 5px;
}

.desc-place h2 {
	position: absolute;
	bottom: 0;
	font-size: 20px;
	font-weight: 300;
}

.desc-place p {
	padding-top: 5px;
	padding-bottom: 0;
}
